* { -webkit-hyphens: none; }
div {
	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;

	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}
.clear {clear:both;}
.clear:before, .clear:after {content: " ";display: table;}
.clear:after {clear: both;}
.clear {*zoom: 1;}
body,
html {
    min-height: 100%;
    position: relative;
}
body {
    background: #FFF;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.4;
}
.site {
    position: relative;
    z-index: 10;
    overflow: hidden;
}
.wrapper {
	width: 100%;
	margin: 0 auto;
    padding: 0px;
	
	@media screen and (min-width: $tabwidth) {
		width: 100%;
	}
	@media screen and (min-width: $deskwidth) {
		max-width: 1500px;
        width: 100%;
	}
}
.container {
    max-width: 1200px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: border-box;
    margin: 0 auto;
    @media screen and (min-width: $tabwidth) {
        max-width: 1000px;
    }
    @media screen and (min-width: $deskwidth) {
        max-width: 1000px;
    }
}

.content-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 66%;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

.widget-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 26%;
		float: right;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

/* Logo */
.logo {
	display: block;
    float: left;
    width: 100%;
	@media screen and (min-width: $tabwidth) {
		width: 300px;
	}
    a {
        display: block;
        width: 180px;
        float: left;
        @media screen and (min-width: $tabwidth) {
            width: 300px;
        }
        img {
            width: 100%;
            height: auto;
            float: left;
        }
    }
}
.site-footer {
	width: 100%;
	clear: both;
}

#masthead {
    position: relative;
    z-index: 10;
    margin-top: 30px;
    @media screen and (min-width: $tabwidth) {
        margin-top: 70px;
        .container {
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
        }
        .logo {
            width: 30%;
        }
        .main-navigation {
            width: 70%;
        }
    }
   
}
.home #masthead {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.btn-style1 {
    overflow: hidden;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: -1px;
        width: 100%;
        height: 100%;
        background: #383938;
        padding: 1em 2em;
        transition: transform 0.2s;
        transform: translate3d(-100%, 0, 0);
    }
    &:hover {
        &:before {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }
    span {
        position: relative;
        z-index: 10;
    }
}
.btn-style2 {
    overflow: hidden;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #37474f;
        z-index: -1;
        opacity: 0;
        transform: scale3d(0.6, 1, 1);
        transition: transform 0.4s, opacity 0.4s;
        transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    }
    &:hover {
        &:before {
            opacity: 1;
            transform: translate3d(0, 0, 0);
            z-index: 2;
        }
    }
    span {
        position: relative;
        z-index: 10;
    }
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.trbg {
    position: absolute;
    width: 100%;
    bottom: 0;
}
.triangle-bg1 {
    background-image: linear-gradient(to left top, #e8e7e7 0%, #e8e7e7 50%, transparent 50%);
    height: 70%;
    right: 0;
    z-index: 6;
}
.triangle-bg2 {
    overflow: hidden;
    height: 50%;
    z-index: 5;
    .slope {
        width: 120%;
        height: 200%;
        position: relative;
        background: #f6f6f6;
        transform:rotate(4deg);
        left: -15%;
        top: 90px;
    }
}
.triangle-bg3 {
    z-index: 4;
    height: 80%;
    overflow: hidden;
    .slope {
        width: 120%;
        height: 200%;
        position: relative;
        background: -moz-linear-gradient(top, rgba(246,246,246,0.65) 0%, rgba(255,255,255,0.33) 50%, rgba(255,255,255,0) 100%);
        background: -webkit-linear-gradient(top, rgba(246,246,246,0.65) 0%,rgba(255,255,255,0.33) 50%,rgba(255,255,255,0) 100%);
        background: linear-gradient(to bottom, rgba(246,246,246,0.65) 0%,rgba(255,255,255,0.33) 50%,rgba(255,255,255,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6f6f6f6', endColorstr='#00ffffff',GradientType=0 );
        transform:rotate(4deg);
        left: -15%;
        top: 90px;
    }
}
.bottombg {
    width: 100%;
    height: 20%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #e8e7e7;
    z-index: 1;
}